@media (max-width: 664px) {
.cabecalho{
    align-items: center;
}


.cabecalho .logo .icon{
  max-width: 80px;
  max-height: 80px;
}
.cabecalho .logo .title{
    text-align: center;
}

cabecalho .menu .sup2{
    display: flex;
    align-items: center;
}
}

@media (max-width: 514px) {
    .cabecalho{
        align-items: center;
    }

    .cabecalho .logo .title{
        text-align: center;
        font-size: x-large;
        
    }

    .cabecalho .menu{
        align-items: center
        
    }


    .cabecalho .menu .sup2{
        display: flex;
        align-items: center;
    }

}

@media (max-width: 440px) {
    .cabecalho{
        align-items: center;
    }

    .cabecalho .logo .fod{
        flex-direction: column;

    
    }

    .cabecalho .logo .title{
        align-items: baseline;
        font-size: medium;
    }

    .cabecalho .menu{
        align-items: center;

    } 
}

@media (max-width: 400px) {
    .cabecalho{
        align-items: center;
    
    }

    .cabecalho .logo .icon{
        max-width: 50px;
        max-height: 50px;
    }

    .cabecalho .menu{
        align-items: center;
        font-size: small;
    }
}
